<!-- <router-outlet></router-outlet> -->
<tr>
    <div class="login-body">
        <mat-icon>search</mat-icon>
        <mat-form-field class="">
          <input matInput placeholder="Szukaj zadania" value="">
        </mat-form-field>
        <mat-icon>list</mat-icon>
    </div>

</tr>


<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile
    *ngFor="let task of tasks"
    [style.background]="lightblue"
    >{{ task.name }}</mat-grid-tile>
    
</mat-grid-list>

<!-- [style.background]="tile.color" -->

