<h1>Foka news</h1>

<!-- <form>
  Mam na imię <input type="text" name="firstname"> i jestem:<br>
  <input type="radio" name="role" value="teacher" checked> Nauczycielem
  <input type="radio" name="role" value="student"> Uczniem<br>
</form> -->

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Imię" value="">
  </mat-form-field>
</form>

<mat-radio-group class="" [(ngModel)]="userType">
  <mat-radio-button class="example-radio-button" *ngFor="let user of userTypes" [value]="user.value">
    {{user.name}}
  </mat-radio-button>
</mat-radio-group>

<button type="button" [disabled]="!nameIsValid" (click)="moveToNext(user)">Rozpocznij!</button>
