.mat-form-field
  width: 100%
.login
  &-wrapper
    padding: 4rem
  &-radio
    display: flex
    justify-content: space-around
  &-btn
    width: 100%
  &-header
    display: flex
    justify-content: center

.logo
  height: 100px
  width: auto
  margin-bottom: 2rem

section
  margin-top: 64px

.container
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
