<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="login-wrapper mat-elevation-z24">
        <div class="login-header">
          <h1>Foka news</h1>
        </div>

        <div class="login-body">
            <mat-form-field class="">
              <input matInput placeholder="Imię" value="" [(ngModel)]="userName">
            </mat-form-field>
          <mat-radio-group class="login-radio" [(ngModel)]="userType">
            <mat-radio-button class="" *ngFor="let user of userTypes" [value]="user.value">
              {{user.name}}
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="login-footer">
          <a mat-raised-button class="login-btn"
             routerLink="."
             [disabled]="!nameIsValid"
             (click)="logInAs(userType)">
             Link
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
