<!-- <router-outlet></router-outlet> -->
<table style="width:100%">
        <tr>
<h2>Treść zadania: {{ activeTask.name}}<br></h2>
<h3>{{ activeTask.taskdescription}}</h3>
<br>
<mat-chip-list>
    <mat-chip selected="true" [color]="primary">{{ activeTask.difficulty }}</mat-chip>
    <mat-chip selected="true" [color]="accent">{{ activeTask.category }}</mat-chip>
</mat-chip-list>
</tr>
<br>
<hr>
<tr>
        <img src="{{ activeTask.picture}}" height="350" width="350">
        <h1>{{ activeTask.header}}</h1>
        <p>{{ activeTask.descriptionP1}}</p>
        <p>{{ activeTask.descriptionP2}}</p>
        <p>{{ activeTask.descriptionP3}}</p>
</tr>
<br>
<hr>
<p>Kryteria akceptacji zadania</p>
<ul>
        <!-- <li *ngFor="let acceptanceCriteria of activeTask.acceptanceCriteria">
                {{ acceptanceCriteria.criterion }}
                <label><input type="checkbox">{{ acceptanceCriteria.criterion }}</label>
        </li> -->
    </ul>
<br>
