<section class="task-description">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="task-description-inner mat-elevation-z24">
          <h2>Treść zadania: {{ activeTask.name}}<br></h2>
          <p>{{ activeTask.taskdescription}}</p>
          <mat-chip-list>
              <mat-chip selected="true">{{ activeTask.difficulty }}</mat-chip>
              <mat-chip selected="true">{{ activeTask.category }}</mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="task-content">

  <div class="container">
    <div class="row">
      <div class="col">
        <img src="{{ activeTask.picture}}" class="mb-5">
        <div class="row justify-content-center">
          <div class="col-8">
            <h1>{{ activeTask.header}}</h1>
            <p>{{ activeTask.descriptionP1}}</p>
            <p>{{ activeTask.descriptionP2}}</p>
            <p>{{ activeTask.descriptionP3}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
