div,
.nav-sidebar,
.dropdown-menu

  &::-webkit-scrollbar
    width: 4px
    height: 4px
    background-color: transparent
    border-radius: .2rem

    &-button

    &-track
      background-color: #DFE2E5

      &-piece

    &-thumb
      background-color: #23A0FB
      border-radius: .2rem

    &-corner

  &::-webkit-resizer

.logs
  &::-webkit-scrollbar
    width: 4px
    &-thumb
      background-color: white
      border-radius: .2rem
